body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 6%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: rgb(123, 122, 122);
    box-shadow: 5px 0px 2px 0px rgb(211, 210, 210); 
    background-color: white;
}

.top-bar-left{
    display: flex;
    flex-direction: row;
    height: 32%;
    align-items: center;
}

.top-bar-right {
    height: 32%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.top-bar-logo {
    height: 50%;
    margin-left: 100px;
    margin-right: 20px;
}

.top-bar-left-elements {
    display: flex;
    flex-direction: row;
    width: 48%;
    justify-content: space-evenly;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar-right-elements
{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
/* p.top-bar-left-elements {
    display: inline-block;
} */
.top-bar-right-icons {
    display: flex;
    align-items: center;
    margin-right: 70px;
    margin-left: 70px;
}
.top-bar-search {
    height: 16px;
    opacity: 0.56;
}

.top-bar-user {
    margin-left: 20px;
    height: 27px;
    opacity: 0.85;
}

.intro {
    height: 300px;
    background-image: url("/docs/images/nvidia-driver-page3.jpg");
    background-color: rgb(5, 5, 5);
    background-repeat: no-repeat;
    background-position-x: 190px;
    display: grid;
    grid-template-columns: 35% auto;
}

.shop-now {
    background-color: rgb(123, 168, 33);
    border: none;
    border-radius: 0;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 110px;
    margin-top: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories {
    margin-top: 65px;
    font-size: 35px;
    font-weight: bolder;
}

.item-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.item {
    height: 350px;
    width: 320px;
    display: grid;
    grid-template-rows: 55% auto;
    box-shadow: 0px 0px 2px 0 rgba(5, 5, 5, 0.2);
}